<h1>Users</h1>

<% @users.each do |user| %>
<p><%= user.first_name %> <%= user.last_name %></p>
<%= link_to "Show User", user_path(user) %>
<% end %>

</br>
</br>
<h4><%= link_to "Give birth!", new_user_path %></h4>
