<h1><%= @restaurant.name %></h1>

<%= link_to "Edit Restaurant", edit_restaurant_path %>
<%= link_to "Delete Restaurant", @restaurant, method: :delete %>
<%= link_to "Create Reservation", new_restaurant_reservation_path(@restaurant) %>
